In [1]:
"""Things Left to be done
-Convert 'Founded Date' column to 'Age of Company' column. This is a value that is better inserted into a classification model
-We need to effectively encode the 'Categories' column so that each company that is part of multiple categories can effectively
be seen that way. This can probably be done using the split method and splitting on commas. Will work on it tomorrow
-We will also probably need to limit the number of different locations due to there being 7889 locations. This is very likely
to overfit the model
-And we need to either convert or get rid of all the funding data that isn't in USD"""

"Things Left to be done\n-Convert 'Founded Date' column to 'Age of Company' column. This is a value that is better inserted into a classification model\n-We need to effectively encode the 'Categories' column so that each company that is part of multiple categories can effectively\nbe seen that way. This can probably be done using the split method and splitting on commas. Will work on it tomorrow\n-We will also probably need to limit the number of different locations due to there being 7889 locations. This is very likely\nto overfit themodel"

In [1]:
import pandas as pd
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 50)

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Annyou/vc_holy_grail-1/master/Deprecated/data/companies.csv', encoding = "ISO-8859-1")

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (16,23,24,26,27,28,31,32,33,34,35,43,45,54,55,56,57,60) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.shape

(100906, 61)

In [4]:
df.columns

Index(['Organization Name',
       'Organization Name URL', 'Categories',
       'Headquarters Location', 'Description',
       'CB Rank (Company)', 'Operating Status',
       'Founded Date', 'Closed Date',
       'Company Type', 'Website', 'Twitter',
       'Facebook', 'LinkedIn', 'Contact Email',
       'Phone Number', 'Number of Articles',
       'Investor Type', 'Investment Stage',
       'Number of Portfolio Organizations',
       'Number of Investments',
       'Number of Lead Investments',
       'Number of Exits',
       'Accelerator Program Type',
       'Accelerator Application Deadline',
       'Accelerator Duration (in weeks)',
       'School Type', 'School Program',
       'Number of Enrollments', 'School Method',
       'Number of Founders (Alumni)',
       'Number of Alumni', 'Category Groups',
       'Number of Founders',
       'Number of Employees',
       'Number of Funding Rounds',
       'Funding Status', 'Last Funding Date',
       'Last Funding Amount',
       'Last Funding Type',
       'Last Equity Funding Amount',
       'Last Equity Funding Type',
       'Total Equity Funding Amount',
       'Total Funding Amount',
       'Number of Lead Investors',
       'Number of Investors',
       'Acquisition Status', 'IPO Status',
       'IPO Date', 'Delisted Date',
       'Money Raised at IPO', 'Valuation at IPO',
       'Stock Symbol', 'Stock Symbol URL',
       'Stock Exchange', 'Number of Events',
       'CB Rank (Organization)',
       'CB Rank (School)',
       'Trend Score (7 Days)',
       'Trend Score (30 Days)',
       'Trend Score (90 Days)'],
      dtype='object')

In [5]:
df.head(15)

,Organization Name,Organization Name URL,Categories,Headquarters Location,Description,CB Rank (Company),Operating Status,Founded Date,Closed Date,Company Type,Website,Twitter,Facebook,LinkedIn,Contact Email,Phone Number,Number of Articles,Investor Type,Investment Stage,Number of Portfolio Organizations,Number of Investments,Number of Lead Investments,Number of Exits,Accelerator Program Type,Accelerator Application Deadline,Accelerator Duration (in weeks),School Type,School Program,Number of Enrollments,School Method,Number of Founders (Alumni),Number of Alumni,Category Groups,Number of Founders,Number of Employees,Number of Funding Rounds,Funding Status,Last Funding Date,Last Funding Amount,Last Funding Type,Last Equity Funding Amount,Last Equity Funding Type,Total Equity Funding Amount,Total Funding Amount,Number of Lead Investors,Number of Investors,Acquisition Status,IPO Status,IPO Date,Delisted Date,Money Raised at IPO,Valuation at IPO,Stock Symbol,Stock Symbol URL,Stock Exchange,Number of Events,CB Rank (Organization),CB Rank (School),Trend Score (7 Days),Trend Score (30 Days),Trend Score (90 Days)
0,Xiaomi,/organization/xiaomi,"Mobile, Consumer Electronics, Internet","Beijing, Beijing, China",Xiaomi is a privately owned electronics and so...,1,Active,"Apr 4, 2010",NaN,For Profit,http://www.mi.com/en/,https://twitter.com/xiaomi,https://www.facebook.com/xiaomiglobal/,https://www.linkedin.com/company/xiaomi-techno...,xiaomi@xiaomi.com,NaN,"13,913",NaN,NaN,23.0,25.0,15.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hardware, Internet Services, Consumer Electron...",10,1001-5000,7,NaN,"Jul 28, 2017","$1,000,000,000",Debt Financing,NaN,Undisclosed,"$1,447,000,000","$2,447,000,000",4.0,17,NaN,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2,NaN,0.0,0.0,8.5
1,Netflix,/organization/netflix,"Digital Entertainment, Video, Consumer Electro...","Los Gatos, California, United States",Netflix is the worldäó»s leading Internet tele...,2,Active,"Jan 1, 1997",NaN,For Profit,https://www.netflix.com,http://twitter.com/netflix,http://www.facebook.com/netflix,http://www.linkedin.com/company/netflix,NaN,NaN,"59,256",NaN,NaN,2.0,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hardware, Video, Consumer Electronics, Media a...",3,1001-5000,11,IPO,"Oct 23, 2017","$1,600,000,000",Post-IPO Debt,"$50,025,952",Series E,"$103,735,952","$2,803,745,952",4.0,8,Made Acquisitions,Public,"May 23, 2002",NaN,"$82,050,000","$309,721,110",NFLX,/ipo/netflix-ipo--0b074a76,NASDAQ,16,3,NaN,4.7,1.0,0.7
2,Kickstarter,/organization/kickstarter,"Crowdsourcing, Finance, Crowdfunding, FinTech","Brooklyn, New York, United States",Kickstarter is a crowdfunding platform for cre...,3,Active,"Apr 28, 2009",NaN,NaN,https://www.kickstarter.com/,http://twitter.com/kickstarter,http://www.facebook.com/Kickstarter,https://www.linkedin.com/company-beta/413999,NaN,NaN,"23,574",NaN,NaN,20.0,20.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Financial Services,3,51-100,1,NaN,"Mar 18, 2009","$10,000,000",Venture - Series Unknown,"$10,000,000",Venture - Series Unknown,"$10,000,000","$10,000,000",NaN,19,Made Acquisitions,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,4,NaN,0.9,0.9,9.8
3,SeedInvest,/organization/seedinvest,"Crowdfunding, Association, Venture Capital","New York, New York, United States",SeedInvest is an equity crowdfunding platform ...,4,Active,"May 1, 2011",NaN,NaN,https://www.seedinvest.com/,http://twitter.com/seedinvest,http://www.facebook.com/seedinvest,http://www.linkedin.com/company/seedinvest,contactus@seedinvest.com,NaN,430,NaN,NaN,75.0,83.0,6.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Lending and Investments, Financial Services",2,01-Oct,3,NaN,"Jun 1, 2016","$5,125,000",Venture - Series Unknown,"$5,125,000",Venture - Series Unknown,"$10,375,000","$10,375,000",1.0,8,NaN,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,5,NaN,-0.5,8.9,-0.4
4,Singapore Post,/organization/singapore-post,"Retail, Logistics, Supply Chain Management","Singapore, Central Region, Singapore",Singapore Post (SingPost) provides an integrat...,5,Active,1819,NaN,For Profit,https://www.dissertationcorp.co.uk/,https://twitter.com/singpost,https://www.facebook.com/mysingpost,https://www.linkedin.com/company/singapore-pos...,NaN,(656) 222-5777,"3,544",NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Transportation, Commerce and Shopping",1,1001-5000,2,M&A,"Jul 8, 2015","$206,850,000",Undisclosed,"$206,850,000",Undisclosed,"$455,850,000","$455,850,000",1.0,1,"Made Acquisitions, Was Acquired",Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,7,NaN,0.8,0.0,0
5,Rocket Internet,/organization/rocket-internet,"Developer Platform, Internet, Software","Berlin, Berlin, Germany",Rocket Internet is an internet platform that i...,6,Active,2007,NaN,For Profit,https://www.dissertationcorp.co.uk/,http://twitter.com/RocketBerlin,https://www.facebook.com/pages/Rocket-Internet...,https://www.linkedin.com/company/1298456,info@rocket-internet.com,NaN,"2,854",NaN,NaN,74.0,105.0,24.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Software, Internet Services",3,251-500,5,IPO,"Feb 13, 2015","äå588,800,000",Post-IPO Equity,"äå588,800,000",Post-IPO Equity,"$1,122,447,536","$1,122,447,536",2.0,4,Made Acquisitions,Public,"Oct 10, 2014",NaN,"$1,770,000,000","$8,199,999,999",RKET,/ipo/rocket-internet-ipo--383ed618,ETR,1,8,NaN,0.7,8.7,-0.2
6,Lenovo,/organization/lenovo,"Mobile, Hardware, Computer, Manufacturing","Morrisville, North Carolina, United States",Lenovo Group is a Chinese multinational comput...,7,Active,1984,NaN,For Profit,http://www.lenovo.com,http://twitter.com/lenovo,http://www.facebook.com/Lenovo,http://www.linkedin.com/company/lenovo,NaN,(855)253-6686,"26,519",NaN,NaN,9.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Hardware, Consumer Electronics, Manufacturing,...",1,10001+,3,IPO,"Oct 3, 2017","$500,000,000",Post-IPO Equity,"$500,000,000",Post-IPO Equity,"$850,025,000","$850,025,000",NaN,6,Made Acquisitions,Public,"May 17, 2000",NaN,NaN,NaN,992,/ipo/lenovo-ipo--b5098ecb,HKG,61,9,NaN,-0.6,9.7,6.9
7,Virgin Hyperloop One,/organization/hyperloop-technolgies,"Travel, Transportation, Manufacturing","Los Angeles, California, United States",Hyperloop One reinvents transportation to elim...,8,Active,2014,NaN,For Profit,https://www.dissertationcorp.co.uk/,https://twitter.com/HyperloopOne,https://www.facebook.com/pages/Hyperloop-Tech/...,https://www.linkedin.com/company/hyperloop-one,info@hyperloop-one.com,NaN,627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Manufacturing, Travel and Tourism, Transportation",3,101-250,5,Early Stage Venture,"Oct 12, 2017",NaN,Corporate Round,"$85,000,000",Series B,"$176,100,000","$226,100,000",3.0,26,NaN,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,10,NaN,-0.6,1.3,-0.4
8,BuzzFeed,/organization/buzzfeed,"Video, Digital Entertainment, Social, News, In...","New York, New York, United States","BuzzFeed provides shareable breaking news, ori...",9,Active,2006,NaN,For Profit,http://www.buzzfeed.com,https://twitter.com/buzzfeed,http://www.facebook.com/buzzfeed,http://www.linkedin.com/company/buzzfeed,info@buzzfeed.com,+1 212-431-7464,"8,606",NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Content and Publishing, Video, Internet Servic...",2,501-1000,7,Late Stage Venture,"Nov 18, 2016","$200,000,000",Series G,"$200,000,000",Series G,"$446,300,000","$496,300,000",5.0,15,Made Acquisitions,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,11,NaN,0.6,-0.1,-0.5
9,SpaceX,/organization/space-exploration-technologies,"Space Travel, Transportation, Aerospace","Hawthorne, California, United States","SpaceX designs, manufactures, and launches adv...",10,Active,Jun-02,NaN,For Profit,http://www.spacex.com,http://twitter.com/SpaceX,http://www.facebook.com/SpaceX,http://www.linkedin.com/company/spacex,media@spacex.com,3103636001,"4,566",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Transportation, Science and Engineering",1,1001-5000,9,Private Equity,"Jul 27, 2017","$350,000,000",Private Equity,"$350,000,000",Private Equity,"$1,495,560,000","$1,495,560,000",4.0,11,NaN,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,12,NaN,-0.4,-0.8,4.4
10,Apple,/organization/apple,"Consumer Electronics, Hardware, Retail, Electr...","Cupertino, California, United States",Apple is a multinational corporation that desi...,11,Active,"Mar 31, 1976",NaN,For Profit,http://www.apple.com,https://twitter.com/AppleSupport,https://www.facebook.com/india.apple/info/?ent...,http://www.linkedin.com/company/apple,NaN,(408)996-1010,"480,276",NaN,NaN,7.0,8.0,7.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3,"Consumer Electronics, Hardware, Commerce and S...",3,10001+,4,IPO,"Sep 6, 2017","$5,000,000,000",Post-IPO Debt,"$1,000,000,000",Post-IPO Equity,"$1,150,250,000","$6,150,250,000",2.0,3,Made Acquisitions,Public,"Dec 19, 1980",NaN,"$101,200,000","$1,192,737,304",AAPL,/ipo/apple-ipo--ce1172dc,NASDAQ,14,13,NaN,2.0,4.8,0.5
11,Nvidia,/organization/nvidia,"Software, Hardware, Virtualization, GPU","Santa Clara, California, United States",Nvidia manufactures integrated circuits for us...,12,Active,1993,NaN,For Profit,http://www.nvidia.com,http://twitter.com/nvidia,http://www.facebook.com/NVIDIA,https://www.linkedin.com/company/3608,info@nvidia.com,(140) 848-6200,"19,775",NaN,NaN,15.0,19.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Information Technology, Hardware, Software",2,5001-10000,3,IPO,"May 24, 2017","$4,000,000,000",Post-IPO Equity,"$4,000,000,000",Post-IPO Equity,"$4,000,000,000","$4,025,000,000",2.0,3,Made Acquisitions,Public,"Jan 29, 1999",NaN,NaN,NaN,NVDA,/ipo/nvidia-ipo--984a8497,NASDAQ,72,14,NaN,-0.2,-0.7,-0.1
12,ServiceNow,/organization/service-now-com,"Enterprise Applications, PaaS, Enterprise Soft...","Santa Clara, California, United States",ServiceNow provides cloud-based solutions that...,13,Active,2004,NaN,For Profit,http://www.servicenow.com/,http://twitter.com/servicenow,http://www.facebook.com/servicenow,http://www.linkedin.com/company/servicenow,info@servicenow.com,(408)501-8550,"1,076",NaN,NaN,5.0,6.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Apps, Internet Services, Software, Information...",1,1001-5000,6,IPO,"Mar 20, 2012","$10,980,000",Private Equity,"$10,980,000",Private Equity,"$83,703,892","$83,703,892",2.0,3,Made Acquisitions,Public,"Jul 20, 2012",NaN,"$209,700,000","$2,165,215,860",NOW,/ipo/service-now-com-ipo--ab57e395,NYSE,60,15,NaN,5.5,8.6,-0.1
13,General Electric (GE),/organization/general-electric,"Finance, FinTech, Electronics","Fairfield, Connecticut, United States",General Electric Company offers infrastructure...,14,Active,Jan 1878,NaN,For Profit,http://www.ge.com,http://twitter.com/generalelectric,http://www.facebook.com/ge,http://www.linkedin.com/company/ge,NaN,NaN,"2,507",NaN,NaN,29.0,37.0,13.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1,"Hardware, Consumer Electronics, Financial Serv...",0,NaN,1,IPO,"Nov 19, 2009","$2,000,000",Grant,NaN,NaN,NaN,"$2,000,000",NaN,NaN,Made Acquisitions,Public,"Jan 13, 1978",NaN,NaN,NaN,GE,/ipo/general-electric-ipo--97b2066f,NYSE,24,16,NaN,-0.3,7.3,0.4
14,HubSpot,/organization/hubspot,"Marketing, Information Technology, Analytics, ...","Cambridge, Massachusetts, United States","HubSpot develops cloud-based, inbound marketin...",15,Active,"Jun 9, 2006",NaN,For Profit,http://www.hubspot.com,http://twitter.com/HubSpot,http://www.facebook.com/hubspot,http://www.linkedin.com/company/hubspot,info@hubspot.com,(888) 482-7768,"1,595",NaN,NaN,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5,"Information Technology, Data and Analytics, Sa...",4,1001-5000,6,IPO,"Nov 10, 2012","$35,000,000",Venture - Series Unknown,"$35,000,000",Venture - Series Unknown,"$100,500,000","$100,500,000",3.0,12,Made Acquisitions,Public,"Oct 10, 2014",NaN,"$125,000,000","$759,000,000",HUBS,/ipo/hubspot-ipo--73a33b3b,NYSE,12,19,NaN,-0.6,-2.0,-0.1

In [6]:
df.isnull().sum()

Organization Name                         0
Organization Name URL                     0
Categories                             6440
Headquarters Location                  4930
Description                               2
CB Rank (Company)                         2
Operating Status                        829
Founded Date                          21852
Closed Date                           87193
Company Type                          27714
Website                                7429
Twitter                               27263
Facebook                              35580
LinkedIn                              39641
Contact Email                         36489
Phone Number                          43337
Number of Articles                    52502
Investor Type                        100546
Investment Stage                     100324
Number of Portfolio Organizations     96725
Number of Investments                 96928
Number of Lead Investments            98962
Number of Exits                       99514
Accelerator Program Type             100903
Accelerator Application Deadline     100901
                                      ...
Funding Status                        30512
Last Funding Date                     26651
Last Funding Amount                   33383
Last Funding Type                     29736
Last Equity Funding Amount            38139
Last Equity Funding Type              30798
Total Equity Funding Amount           33053
Total Funding Amount                  57118
Number of Lead Investors              60908
Number of Investors                   61059
Acquisition Status                    50301
IPO Status                            32513
IPO Date                              95892
Delisted Date                        100354
Money Raised at IPO                   99137
Valuation at IPO                      98575
Stock Symbol                          94501
Stock Symbol URL                      94749
Stock Exchange                        92908
Number of Events                      51854
CB Rank (Organization)                41272
CB Rank (School)                      66904
Trend Score (7 Days)                      0
Trend Score (30 Days)                     0
Trend Score (90 Days)                 16975
Length: 61, dtype: int64

In [7]:
#Columns to be used for model training 
df1 = df[['Founded Date', 
          'Categories', 
          'Headquarters Location', 
          'Number of Founders', 
          'Last Funding Amount', 
          'Number of Funding Rounds',
          'Number of Articles',
          'Number of Employees',
          'Last Equity Funding Type']]

In [8]:
df1.head(15)

,Founded Date,Categories,Headquarters Location,Number of Founders,Last Funding Amount,Number of Funding Rounds,Number of Articles,Number of Employees,Last Equity Funding Type
0,"Apr 4, 2010","Mobile, Consumer Electronics, Internet","Beijing, Beijing, China",10,"$1,000,000,000",7,"13,913",1001-5000,Undisclosed
1,"Jan 1, 1997","Digital Entertainment, Video, Consumer Electro...","Los Gatos, California, United States",3,"$1,600,000,000",11,"59,256",1001-5000,Series E
2,"Apr 28, 2009","Crowdsourcing, Finance, Crowdfunding, FinTech","Brooklyn, New York, United States",3,"$10,000,000",1,"23,574",51-100,Venture - Series Unknown
3,"May 1, 2011","Crowdfunding, Association, Venture Capital","New York, New York, United States",2,"$5,125,000",3,430,01-Oct,Venture - Series Unknown
4,1819,"Retail, Logistics, Supply Chain Management","Singapore, Central Region, Singapore",1,"$206,850,000",2,"3,544",1001-5000,Undisclosed
5,2007,"Developer Platform, Internet, Software","Berlin, Berlin, Germany",3,"äå588,800,000",5,"2,854",251-500,Post-IPO Equity
6,1984,"Mobile, Hardware, Computer, Manufacturing","Morrisville, North Carolina, United States",1,"$500,000,000",3,"26,519",10001+,Post-IPO Equity
7,2014,"Travel, Transportation, Manufacturing","Los Angeles, California, United States",3,NaN,5,627,101-250,Series B
8,2006,"Video, Digital Entertainment, Social, News, In...","New York, New York, United States",2,"$200,000,000",7,"8,606",501-1000,Series G
9,Jun-02,"Space Travel, Transportation, Aerospace","Hawthorne, California, United States",1,"$350,000,000",9,"4,566",1001-5000,Private Equity
10,"Mar 31, 1976","Consumer Electronics, Hardware, Retail, Electr...","Cupertino, California, United States",3,"$5,000,000,000",4,"480,276",10001+,Post-IPO Equity
11,1993,"Software, Hardware, Virtualization, GPU","Santa Clara, California, United States",2,"$4,000,000,000",3,"19,775",5001-10000,Post-IPO Equity
12,2004,"Enterprise Applications, PaaS, Enterprise Soft...","Santa Clara, California, United States",1,"$10,980,000",6,"1,076",1001-5000,Private Equity
13,Jan 1878,"Finance, FinTech, Electronics","Fairfield, Connecticut, United States",0,"$2,000,000",1,"2,507",NaN,NaN
14,"Jun 9, 2006","Marketing, Information Technology, Analytics, ...","Cambridge, Massachusetts, United States",4,"$35,000,000",6,"1,595",1001-5000,Venture - Series Unknown

In [9]:
df1.dtypes

Founded Date                object
Categories                  object
Headquarters Location       object
Number of Founders          object
Last Funding Amount         object
Number of Funding Rounds    object
Number of Articles          object
Number of Employees         object
Last Equity Funding Type    object
dtype: object

In [10]:
# Replace Missing values for number of articles with 0 articles
df1['Number of Articles'].fillna(0, inplace=True)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/pandas/core/generic.py:4355: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [11]:
df1['Number of Articles'].head(10)

0    13,913
1    59,256
2    23,574
3       430
4     3,544
5     2,854
6    26,519
7       627
8     8,606
9     4,566
Name: Number of Articles, dtype: object

In [12]:
#take out the commas to convert the object into float64
df1["Number of Articles"] = df1["Number of Articles"].str.replace(",","")

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [13]:
df1['Number of Articles'].head(15)

0      13913
1      59256
2      23574
3        430
4       3544
5       2854
6      26519
7        627
8       8606
9       4566
10    480276
11     19775
12      1076
13      2507
14      1595
Name: Number of Articles, dtype: object

In [14]:
#Convert column to numeric
df1['Number of Articles'] = pd.to_numeric(df1['Number of Articles'], errors='coerce')
df1['Number of Articles'].dtype

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

dtype('float64')

In [15]:
df1['Number of Funding Rounds'] = pd.to_numeric(df1['Number of Funding Rounds'], errors='coerce')

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [16]:
df1['Number of Founders'].value_counts()

1.0           14996
2.0           12322
Nov-50         8768
10-Jan         7631
01-Oct         6035
3.0            5695
1              3413
2              2502
4.0            1984
51-100         1461
3               959
10001+          692
5.0             539
501-1000        510
1001-5000       411
251-500         398
101-250         350
5001-10000      349
4               335
6.0             164
5               106
7.0              48
6                27
8.0              14
7                 6
9.0               6
0.0               4
10.0              3
9                 2
0                 2
11.0              2
18.0              1
11                1
8                 1
Name: Number of Founders, dtype: int64

In [17]:
#Convert the column to float value. When there are ranges given, I take the average and output a single float
df1['Number of Founders'] = df1['Number of Founders'].replace({'Nov-50': np.nan,
                                   '1.0' : 1,
                                   '1' : 1,
                                   '10-Jan' : np.nan,
                                   '51-100' : 75,
                                   '01-Oct' : np.nan,
                                   '2' : 2,
                                   '101-250' : 175,
                                   '2.0' : 2,
                                   '501-1000' : 750,
                                   '251-500' : 375,
                                   '10001+' : 10000,
                                   '1001-5000': 2500,
                                   '3' : 3,
                                   '5001-10000' : 7500,
                                   '3.0' : 3,
                                   '4': 4,
                                   '5': 5,
                                   '4.0':4,
                                   '6':6,
                                   '5.0': 5,
                                   '7': 7,
                                   '8': 8,
                                   '6.0':6,
                                   '7.0':7,
                                   '9':9,
                                   '10':10,
                                   '8.0':8,
                                   '9.0':9,
                                   '11.0':11,
                                   '10.0':10,
                                   '11':11,
                                   '18':18,
                                   '0':np.nan})

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
df1['Number of Employees'].value_counts()

Nov-50        19811
1.0           11574
1             10285
10-Jan         8129
51-100         6918
01-Oct         6345
2              3804
101-250        2952
2.0            2615
501-1000       2530
251-500        2337
10001+         2046
1001-5000      1887
3              1494
5001-10000     1311
3.0             680
4               599
5               277
4.0             208
6               113
5.0              78
7                51
8                21
6.0              20
7.0              12
9                10
10                6
8.0               5
9.0               5
11.0              3
15                2
18                1
13                1
11                1
16                1
12                1
0.0               1
Name: Number of Employees, dtype: int64

In [19]:
#Convert the column to float value. When there are ranges given, I take the average and output a single float
df1['Number of Employees'] = df1['Number of Employees'].replace({'Nov-50': np.nan,
                                   '1.0' : 1,
                                   '1' : 1,
                                   '10-Jan' : np.nan,
                                   '51-100' : 75,
                                   '01-Oct' : np.nan,
                                   '2' : 2,
                                   '101-250' : 175,
                                   '2.0' : 2,
                                   '501-1000' : 750,
                                   '251-500' : 375,
                                   '10001+' : 10000,
                                   '1001-5000': 2500,
                                   '3' : 3,
                                   '5001-10000' : 7500,
                                   '3.0' : 3,
                                   '4': 4,
                                   '5': 5,
                                   '4.0':4,
                                   '6':6,
                                   '5.0': 5,
                                   '7': 7,
                                   '8': 8,
                                   '6.0':6,
                                   '7.0':7,
                                   '9':9,
                                   '10':10,
                                   '8.0':8,
                                   '9.0':9,
                                   '11.0':11,
                                   '15':15,
                                   '18':18,
                                   '11':11,
                                   '16':16,
                                   '13':13,
                                   '12':12,
                                   '0':np.nan})

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
len(df['Headquarters Location'].value_counts())

7889

In [21]:
df1.dtypes

Founded Date                 object
Categories                   object
Headquarters Location        object
Number of Founders          float64
Last Funding Amount          object
Number of Funding Rounds    float64
Number of Articles          float64
Number of Employees         float64
Last Equity Funding Type     object
dtype: object

In [22]:
"""------------------------Once Data is Fully Cleaned, Convert Data to Train/Test and Label Form----------------------"""

'------------------------Once Data is Fully Cleaned, Convert Data to Train/Test and Label Form----------------------'

In [ ]:
#Scroll to the very top for remaining tasks ^^^^^^^^^^^^^^^

In [25]:
#Make a list of the categories that have atleast 100 uses
cat_cols = list(df1['Categories'].value_counts().head(43).index)
duplicates = ['Software, Hardware', 'Hardware, Software', 'Medical, Health Care', 'Health Care, Medical']
for i in duplicates:
    cat_cols.remove(i)

In [28]:
len(cat_cols)

39

In [38]:
df2 = df1.copy()

In [41]:
#def category_encoder(x):
    #x['Category Split'] = x['Categories'].str.split(', ')
    #for category in cat_cols:
        #x[category] = 0
        
    #for category in cat_cols:       
       # for i in np.arange(len(x)):
           # if type(x['Category Split'][i]) == list:
               # if category in x['Category Split'][i]:
                 #   x[category][i] = 1

In [ ]:
category_encoder(df2)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [119]:
df2['Categories'] = np.nan

In [155]:
for i in np.arange(len(df2)):
        df2['Category'][i] = df2['Category Split'][i][0]

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [161]:
top_categories = list(df2['Categories'].value_counts().head(40).index)

In [162]:
top_categories

['Software',
 'Health Care',
 'E-Commerce',
 'Mobile',
 'Biotechnology',
 'Information Technology',
 'Medical',
 'Internet',
 'Manufacturing',
 'Enterprise Software',
 'Apps',
 'Financial Services',
 'Social Media',
 'Advertising',
 'SaaS',
 'Education',
 'Analytics',
 'Finance',
 'Real Estate',
 'Hardware',
 'Travel',
 'FinTech',
 'Security',
 'Retail',
 'Automotive',
 'Service Industry',
 'Telecommunications',
 'Music',
 'Marketing',
 'Sports',
 'Video',
 'Therapeutics',
 'Big Data',
 'Medical Device',
 'Search Engine',
 'Consulting',
 'News',
 'Fashion',
 'Hospitality',
 'Artificial Intelligence']

In [165]:
#Using most popular categories as to not overfit the model
df2['Categories'][(df2['Categories'] != 'Software')&
                  (df2['Categories'] != 'Health Care')& 
                  (df2['Categories'] != 'E-Commerce')& 
                  (df2['Categories'] != 'Mobile')& 
                  (df2['Categories'] != 'Biotechnology')& 
                  (df2['Categories'] != 'Information Technology')&
                  (df2['Categories'] != 'Manufacturing')&
                  (df2['Categories'] != 'Enterprise Software')&
                  (df2['Categories'] != 'Apps')&
                  (df2['Categories'] != 'Financial Services')&
                  (df2['Categories'] != 'Social Media')&
                  (df2['Categories'] != 'Advertising')&
                  (df2['Categories'] != 'SaaS')&
                  (df2['Categories'] != 'Analytics')&
                  (df2['Categories'] != 'Real Estate')&
                  (df2['Categories'] != 'Hardware')&
                  (df2['Categories'] != 'Travel')&
                  (df2['Categories'] != 'FinTech')&
                  (df2['Categories'] != 'Retail')&
                  (df2['Categories'] != 'Automotive')&
                  (df2['Categories'] != 'Service Industry')&
                  (df2['Categories'] != 'Telecommunications')&
                  (df2['Categories'] != 'Music')&
                  (df2['Categories'] != 'Marketing')&
                  (df2['Categories'] != 'Sports')&
                  (df2['Categories'] != 'Video')&
                  (df2['Categories'] != 'Therapeutics')&
                  (df2['Categories'] != 'Big Datae')&
                  (df2['Categories'] != 'Medical Device')&
                  (df2['Categories'] != 'Search Engine')&
                  (df2['Categories'] != 'Consulting')&
                  (df2['Categories'] != 'News')&
                  (df2['Categories'] != 'Fashion')&
                  (df2['Categories'] != 'Hospitality')&
                  (df2['Categories'] != 'Artificial Intelligence')] = 'Other'

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [166]:
df2

,Founded Date,Categories,Headquarters Location,Number of Founders,Last Funding Amount,Number of Funding Rounds,Number of Articles,Number of Employees,Last Equity Funding Type,Category Split,Software,Health Care,Biotechnology,E-Commerce,Mobile,Information Technology,Internet,Financial Services,Manufacturing,Advertising,Real Estate,Apps,Social Media,Finance,News,Non Profit,Automotive,Hospitality,Travel,Sports,Telecommunications,Retail,Education,Music,Security,Food Processing,Food and Beverage,Medical,Publishing,Analytics,Association,Web Hosting,Insurance,Medical Device,Banking,Search Engine,Consulting,Transportation,Oil and Gas,Label
0,"Apr 4, 2010",Mobile,"Beijing, Beijing, China",10.0,"$1,000,000,000",7.0,13913.0,2500.0,Undisclosed,Mobile,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
1,"Jan 1, 1997",Other,Other,3.0,"$1,600,000,000",11.0,59256.0,2500.0,Series E,Digital Entertainment,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0
2,"Apr 28, 2009",Other,Other,3.0,"$10,000,000",1.0,23574.0,75.0,Venture - Series Unknown,Crowdsourcing,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0
3,"May 1, 2011",Other,"New York, New York, United States",2.0,"$5,125,000",3.0,430.0,NaN,Venture - Series Unknown,Crowdfunding,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1.0
4,1819,Retail,"Singapore, Central Region, Singapore",1.0,"$206,850,000",2.0,3544.0,2500.0,Undisclosed,Retail,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
5,2007,Other,"Berlin, Berlin, Germany",3.0,"äå588,800,000",5.0,2854.0,375.0,Post-IPO Equity,Developer Platform,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0
6,1984,Mobile,Other,1.0,"$500,000,000",3.0,26519.0,10000.0,Post-IPO Equity,Mobile,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0
7,2014,Travel,"Los Angeles, California, United States",3.0,NaN,5.0,627.0,175.0,Series B,Travel,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1.0
8,2006,Video,"New York, New York, United States",2.0,"$200,000,000",7.0,8606.0,750.0,Series G,Video,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
9,Jun-02,Other,Other,1.0,"$350,000,000",9.0,4566.0,2500.0,Private Equity,Space Travel,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0.0
10,"Mar 31, 1976",Other,Other,3.0,"$5,000,000,000",4.0,480276.0,10000.0,Post-IPO Equity,Consumer Electronics,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0
11,1993,Software,Other,2.0,"$4,000,000,000",3.0,19775.0,7500.0,Post-IPO Equity,Software,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0
12,2004,Other,Other,1.0,"$10,980,000",6.0,1076.0,2500.0,Private Equity,Enterprise Applications,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
13,Jan 1878,Other,Other,0.0,"$2,000,000",1.0,2507.0,NaN,NaN,Finance,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
14,"Jun 9, 2006",Marketing,"Cambridge, Massachusetts, United States",4.0,"$35,000,000",6.0,1595.0,2500.0,Venture - Series Unknown,Marketing,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1.0
15,1984,Other,Other,NaN,"$3,100,000,000",2.0,739.0,10000.0,Venture - Series Unknown,Toys,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0
16,2005,Other,"San Francisco, California, United States",2.0,"$200,000,000",3.0,1206.0,175.0,Venture - Series Unknown,Content,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0
17,"Oct 31, 1998",Other,Other,2.0,NaN,3.0,2365.0,10000.0,Private Equity,Social Media Marketing,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
18,"Jan 1, 2003",Video,Other,1.0,"$200,000,000",3.0,6300.0,375.0,Private Equity,Video,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
19,"May 1, 2007",Other,"San Francisco, California, United States",3.0,"$43,000,000",4.0,8023.0,375.0,Series D,Personal Health,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0
20,2012,Other,"New York, New York, United States",3.0,"$5,600,000",6.0,1042.0,750.0,Post-IPO Equity,Delivery,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1.0
21,"Jun 30, 2002",Other,Other,4.0,"$130,000,000",9.0,3393.0,375.0,Venture - Series Unknown,Consumer Electronics,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0
22,1995,Other,Other,1.0,"$659,000,000",1.0,1234.0,10000.0,Post-IPO Equity,Public Relations,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0
23,2000,Other,Other,2.0,"A$262,000,000",6.0,2275.0,10000.0,Post-IPO Equity,Leisure,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0
24,"Jul 2, 1981",Software,"Bangalore, Karnataka, India",7.0,"$200,000,000",1.0,6410.0,10000.0,Post-IPO Equity,Software,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100881,28-Nov-16,Other,Other,NaN,NaN,NaN,NaN,NaN,NaN,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
100882,1796,Other,Other,NaN,NaN,NaN,NaN,7500.0,NaN,"[Legal, Financial Services, Wealth Management]",0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
100883,2015,Other,"San Francisco, California, United States",4.0,NaN,NaN,NaN,NaN,NaN,"[Mobile Devices, E-Commerce Platforms, Sharing...",0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
100884,15-Jan-00,E-Commerce,Other,1.0,NaN,NaN,NaN,NaN,NaN,"[E-Commerce, Web Development, CMS, Productivit...",0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,NaN
100885,2001,Other,"Sunnyvale, California, United States",1.0,NaN,NaN,NaN,NaN,NaN,"[Big Data, Software]",1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
100886,Mar-13,Hardware,"Beijing, Beijing, China",1.0,NaN,NaN,NaN,375.0,NaN,"[Hardware, Mobile Devices, Internet]",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
100887,1888,Manufacturing,Other,NaN,NaN,1.0,NaN,375.0,Venture - Series Unknown,"[Manufacturing, Health Care]",0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0
100888,Apr-14,Other,"Washington, District of Columbia, United States",2.0,NaN,NaN,NaN,NaN,NaN,[Social News],0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
100889,01-Sep-10,Other,"Palo Alto, California, United States",2.0,NaN,NaN,NaN,NaN,NaN,"[Career Planning, Social Recruiting]",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
100890,2009,Analytics,Other,1.0,NaN,NaN,NaN,NaN,NaN,"[Analytics, Software, Social CRM, Social Media...",1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,NaN
100891,05-Oct-81,Information Technology,Other,1.0,NaN,NaN,NaN,75.0,NaN,"[Information Technology, Service Industry, Int...",0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
100892,1998,Other,Other,NaN,NaN,NaN,NaN,75.0,NaN,"[Computer, Software, Electronics]",1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
100893,18-Dec-14,Other,Other,1.0,NaN,1.0,NaN,NaN,NaN,"[Neuroscience, mHealth, Health Care, Quantifie...",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
100894,Dec-00,Enterprise Software,Other,1.0,NaN,NaN,NaN,10000.0,NaN,"[Enterprise Software, Hardware, Information Te...",0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
100895,03-Feb-09,Other,"San Francisco, California, United States",NaN,NaN,NaN,NaN,NaN,NaN,"[Photography, Photo Sharing]",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
100896,2011,Other,"New York, New York, United States",NaN,NaN,NaN,NaN,NaN,NaN,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
100897,1965,Other,"Los Angeles, California, United States",NaN,NaN,NaN,NaN,750.0,NaN,"[Law Enforcement, Consulting, Legal]",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,NaN
100898,01-May-14,Other,"London, England, United Kingdom",2.0,NaN,NaN,NaN,NaN,NaN,"[Crowdfunding, FinTech, Finance]",0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
100899,NaN,Other,Other,NaN,NaN,NaN,NaN,NaN,NaN,[Chemical],0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
100900,1998,Software,Other,NaN,"$7,000,000",1.0,NaN,NaN,Venture - Series Unknown,"[Software, Innovation Management, Retail Techn...",1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0
100901,03-Nov-16,Other,Other,NaN,NaN,NaN,NaN,NaN,NaN,"[Video Chat, Video, Messaging]",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
100902,2005,Other,Other,NaN,NaN,NaN,NaN,75.0,NaN,"[Marketplace, Information Technology, Web Deve...",0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
100903,10-Feb-00,Other,Other,NaN,NaN,NaN,NaN,7500.0,NaN,"[PC Games, Mobile, Gaming]",0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
100904,May-16,Other,Other,3.0,NaN,NaN,NaN,NaN,NaN,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
100905,NaN,Other,Other,NaN,NaN,1.0,NaN,NaN,Venture - Series Unknown,[Broadcasting],0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0

In [ ]:
df2['Categories'].value_counts()

In [ ]:
df2['Categories'].value_counts()

In [64]:
hq_list = list(df2['Headquarters Location'].value_counts().head(50).index)

In [58]:
df2['Headquarters Location'].isna().sum()

4930

In [66]:
print(hq_params('hi'))

New York, New York, United States

In [65]:
def hq_params(x):
    for i in hq_list:
        return i

In [92]:
#Taking most popular headquarters
hq_list = ['New York, New York, United States',
 'San Francisco, California, United States',
 'London, England, United Kingdom',
 'Los Angeles, California, United States',
 'Chicago, Illinois, United States',
 'Boston, Massachusetts, United States',
 'Seattle, Washington, United States',
 'Austin, Texas, United States',
 'Paris, Ile-de-France, France',
 'Palo Alto, California, United States',
 'Toronto, Ontario, Canada',
 'San Diego, California, United States',
 'Berlin, Berlin, Germany',
 'Beijing, Beijing, China',
 'Mountain View, California, United States',
 'Singapore, Central Region, Singapore',
 'San Jose, California, United States',
 'Bangalore, Karnataka, India',
 'Mumbai, Maharashtra, India',
 'Cambridge, Massachusetts, United States',
 'Atlanta, Georgia, United States',
 'Washington, District of Columbia, United States',
 'Sunnyvale, California, United States',
 'Tel Aviv, Tel Aviv, Israel',
 'Vancouver, British Columbia, Canada',
 'Tokyo, Tokyo, Japan',
 'Stockholm, Stockholms Lan, Sweden',
 'Dublin, Dublin, Ireland',]

In [93]:
len(hq_list)

28

In [95]:
df2['Headquarters Location'][(df2['Headquarters Location'] != 'New York, New York, United States')&
    (df2['Headquarters Location'] != 'San Francisco, California, United States')&
    (df2['Headquarters Location'] != 'London, England, United Kingdom')&
    (df2['Headquarters Location'] != 'Los Angeles, California, United States')&
    (df2['Headquarters Location'] != 'Chicago, Illinois, United States')&
    (df2['Headquarters Location'] != 'Boston, Massachusetts, United States')&
    (df2['Headquarters Location'] != 'Seattle, Washington, United States')&
    (df2['Headquarters Location'] != 'Austin, Texas, United States')&
    (df2['Headquarters Location'] != 'Paris, Ile-de-France, France')&
    (df2['Headquarters Location'] != 'Palo Alto, California, United States')&
    (df2['Headquarters Location'] != 'Toronto, Ontario, Canada')&
    (df2['Headquarters Location'] != 'Berlin, Berlin, Germany')&
    (df2['Headquarters Location'] != 'Beijing, Beijing, China')&
    (df2['Headquarters Location'] != 'Mountain View, California, United States')&
    (df2['Headquarters Location'] != 'Singapore, Central Region, Singapore')&
    (df2['Headquarters Location'] != 'San Jose, California, United States')&
    (df2['Headquarters Location'] != 'Bangalore, Karnataka, India')&
    (df2['Headquarters Location'] != 'Mumbai, Maharashtra, India')&
    (df2['Headquarters Location'] != 'Cambridge, Massachusetts, United States')&
    (df2['Headquarters Location'] != 'Atlanta, Georgia, United States')&
    (df2['Headquarters Location'] != 'Washington, District of Columbia, United States')&
    (df2['Headquarters Location'] != 'Sunnyvale, California, United States')&
    (df2['Headquarters Location'] != 'Tel Aviv, Tel Aviv, Israel')&
    (df2['Headquarters Location'] != 'Vancouver, British Columbia, Canada')&
    (df2['Headquarters Location'] != 'Tokyo, Tokyo, Japan')&
    (df2['Headquarters Location'] != 'Stockholm, Stockholms Lan, Sweden')&
    (df2['Headquarters Location'] != 'Dublin, Dublin, Ireland')] ='Other'

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [96]:
df2['Headquarters Location'].value_counts()

Other                                              66515
New York, New York, United States                   5635
San Francisco, California, United States            5561
London, England, United Kingdom                     4234
Los Angeles, California, United States              1346
Chicago, Illinois, United States                    1123
Boston, Massachusetts, United States                1076
Seattle, Washington, United States                  1059
Austin, Texas, United States                        1050
Paris, Ile-de-France, France                        1048
Palo Alto, California, United States                1043
Toronto, Ontario, Canada                             964
Berlin, Berlin, Germany                              793
Beijing, Beijing, China                              771
Mountain View, California, United States             769
Singapore, Central Region, Singapore                 723
San Jose, California, United States                  711
Bangalore, Karnataka, India                          688
Mumbai, Maharashtra, India                           680
Cambridge, Massachusetts, United States              677
Atlanta, Georgia, United States                      676
Washington, District of Columbia, United States      608
Sunnyvale, California, United States                 577
Tel Aviv, Tel Aviv, Israel                           575
Vancouver, British Columbia, Canada                  523
Tokyo, Tokyo, Japan                                  498
Stockholm, Stockholms Lan, Sweden                    493
Dublin, Dublin, Ireland                              490
Name: Headquarters Location, dtype: int64

In [187]:
list(df2['Categories'].value_counts().index)

['Other',
 'Software',
 'Health Care',
 'E-Commerce',
 'Mobile',
 'Biotechnology',
 'Information Technology',
 'Manufacturing',
 'Enterprise Software',
 'Apps',
 'Financial Services',
 'Social Media',
 'Advertising',
 'SaaS',
 'Analytics',
 'Real Estate',
 'Hardware',
 'Travel',
 'FinTech',
 'Retail',
 'Automotive',
 'Service Industry',
 'Telecommunications',
 'Music',
 'Marketing',
 'Sports',
 'Video',
 'Therapeutics',
 'Medical Device',
 'Search Engine',
 'Consulting',
 'News',
 'Fashion',
 'Hospitality',
 'Artificial Intelligence']

In [97]:
# After thoroughly analyzing the data, this column seems to provide the most accurate data on 
# whether or not a company received vc funding

df2['Last Equity Funding Type'].value_counts()

Seed                        12034
Venture - Series Unknown    10343
Series A                     5864
Series B                     3726
Series C                     2042
Private Equity               1776
Angel                        1751
Post-IPO Equity              1105
Series D                      943
Undisclosed                   884
$100,000                      689
Equity Crowdfunding           575
$1,000,000                    509
$50,000                       500
$500,000                      479
$40,000                       441
$500,000                      426
Series E                      413
$250,000                      405
$200,000                      344
$25,000                       334
$150,000                      333
$2,000,000                    304
$20,000                       289
$1,000,000                    260
                            ...
£4,400,000                     1
äå13,130,000                   1
$89,453                         1
$4,564,863                      1
$221,480                        1
$1,082,192                      1
$1,680,000                      1
$10,779,452                     1
$663,600                        1
£627,856                       1
$7,911,000                      1
$4,500,023                      1
$371,000                        1
$249,300,000                    1
$358,119                        1
£967,000                       1
$649,218                        1
âÂ40,525                       1
å£124,982                       1
å£185,850                       1
âÂ460,000                      1
$534,000                        1
$65,144                         1
$3,540,748                      1
âÂ232,460                      1
Name: Last Equity Funding Type, Length: 7944, dtype: int64

In [98]:
# Create an empty column for the label
df2['Label']= np.nan

In [99]:
# To set up our label for a logistic regression model, make the label of every company that got VC funding a value of 1

df2['Label'][(df['Last Equity Funding Type'] == 'Venture - Series Unknown') | 
               (df['Last Equity Funding Type'] == 'Series A') |
               (df['Last Equity Funding Type'] == 'Series B') |
               (df['Last Equity Funding Type'] == 'Series C') |
               (df['Last Equity Funding Type'] == 'Series D') |
               (df['Last Equity Funding Type'] == 'Post-IPO Equity') |
               (df['Last Equity Funding Type'] == 'Series E') |
               (df['Last Equity Funding Type'] == 'Series F')] = 1

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [100]:
# Now to set a value of 0 to every company that did not get venture funding
df2['Label'].fillna(0, inplace=True)

In [105]:
#Now reinsert the Nans
df2['Label'][df2['Last Equity Funding Type'].isna() == True] = np.nan

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [169]:
#This gives us a total dataset of 70108 rows
df2['Label'].value_counts().sum()

70108

In [179]:
# Now to clear the rows that have missing label values
final_df = df2[['Headquarters Location',
                'Categories',
                'Number of Founders',
                'Number of Funding Rounds',
                'Number of Articles',
                'Number of Employees',
                'Label']].dropna(subset=['Label'])
final_df.shape

(70108, 7)

In [183]:
final_df.to_csv('final_df.csv')

In [180]:
final_df

,Headquarters Location,Categories,Number of Founders,Number of Funding Rounds,Number of Articles,Number of Employees,Label
0,"Beijing, Beijing, China",Mobile,10.0,7.0,13913.0,2500.0,0.0
1,Other,Other,3.0,11.0,59256.0,2500.0,1.0
2,Other,Other,3.0,1.0,23574.0,75.0,1.0
3,"New York, New York, United States",Other,2.0,3.0,430.0,NaN,1.0
4,"Singapore, Central Region, Singapore",Retail,1.0,2.0,3544.0,2500.0,0.0
5,"Berlin, Berlin, Germany",Other,3.0,5.0,2854.0,375.0,1.0
6,Other,Mobile,1.0,3.0,26519.0,10000.0,1.0
7,"Los Angeles, California, United States",Travel,3.0,5.0,627.0,175.0,1.0
8,"New York, New York, United States",Video,2.0,7.0,8606.0,750.0,0.0
9,Other,Other,1.0,9.0,4566.0,2500.0,0.0
10,Other,Other,3.0,4.0,480276.0,10000.0,1.0
11,Other,Software,2.0,3.0,19775.0,7500.0,1.0
12,Other,Other,1.0,6.0,1076.0,2500.0,0.0
14,"Cambridge, Massachusetts, United States",Marketing,4.0,6.0,1595.0,2500.0,1.0
15,Other,Other,NaN,2.0,739.0,10000.0,1.0
16,"San Francisco, California, United States",Other,2.0,3.0,1206.0,175.0,1.0
17,Other,Other,2.0,3.0,2365.0,10000.0,0.0
18,Other,Video,1.0,3.0,6300.0,375.0,0.0
19,"San Francisco, California, United States",Other,3.0,4.0,8023.0,375.0,1.0
20,"New York, New York, United States",Other,3.0,6.0,1042.0,750.0,1.0
21,Other,Other,4.0,9.0,3393.0,375.0,1.0
22,Other,Other,1.0,1.0,1234.0,10000.0,1.0
23,Other,Other,2.0,6.0,2275.0,10000.0,1.0
24,"Bangalore, Karnataka, India",Software,7.0,1.0,6410.0,10000.0,1.0
25,Other,Other,2.0,10.0,805.0,2500.0,0.0
...,...,...,...,...,...,...,...
100775,Other,Other,1.0,1.0,NaN,NaN,0.0
100791,"New York, New York, United States",Other,1.0,1.0,NaN,75.0,0.0
100803,Other,Other,NaN,1.0,NaN,NaN,0.0
100806,Other,Other,1.0,1.0,NaN,NaN,1.0
100815,"San Jose, California, United States",Other,2.0,3.0,NaN,NaN,1.0
100818,Other,Other,NaN,1.0,NaN,NaN,0.0
100819,Other,Financial Services,1.0,2.0,NaN,NaN,0.0
100820,"Mountain View, California, United States",Fashion,2.0,1.0,NaN,NaN,0.0
100827,Other,Other,1.0,1.0,NaN,NaN,0.0
100829,"London, England, United Kingdom",Other,1.0,1.0,NaN,NaN,0.0
100830,Other,Other,1.0,1.0,NaN,NaN,0.0
100832,Other,Other,NaN,1.0,NaN,NaN,0.0
100837,Other,Other,2.0,1.0,NaN,NaN,0.0
100843,Other,Other,NaN,1.0,NaN,NaN,1.0
100845,"San Francisco, California, United States",Other,2.0,1.0,NaN,NaN,1.0
100850,Other,Other,1.0,1.0,NaN,75.0,1.0
100854,Other,Retail,2.0,1.0,NaN,NaN,0.0
100856,Other,Other,3.0,1.0,NaN,NaN,0.0
100863,Other,Other,3.0,1.0,NaN,75.0,0.0
100868,Other,Other,1.0,4.0,NaN,375.0,1.0
100874,Other,Other,NaN,1.0,NaN,NaN,0.0
100875,"San Francisco, California, United States",Apps,NaN,2.0,NaN,NaN,1.0
100887,Other,Manufacturing,NaN,1.0,NaN,375.0,1.0
100900,Other,Software,NaN,1.0,NaN,NaN,1.0
100905,Other,Other,NaN,1.0,NaN,NaN,1.0

In [181]:
#Here are the most relevent columns
features = final_df.drop(['Label'], axis=1)
labels = final_df['Label']

In [184]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.exceptions import DataConversionWarning
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [208]:
!pip install category_encoders

Collecting category_encoders
  Using cached https://files.pythonhosted.org/packages/f7/d3/82a4b85a87ece114f6d0139d643580c726efa45fa4db3b81aed38c0156c5/category_encoders-1.3.0-py2.py3-none-any.whl
Requirement already satisfied: patsy>=0.4.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from category_encoders) (0.5.0)
Requirement already satisfied: pandas>=0.20.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from category_encoders) (0.22.0)
Requirement already satisfied: statsmodels>=0.6.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from category_encoders) (0.9.0)
Requirement already satisfied: scipy>=0.17.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from category_encoders) (1.1.0)
Requirement already satisfied: numpy>=1.11.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from category_encoders) (1.15.4)
Requirement already satisfied: scikit-learn>=0.17.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from category_encoders) (0.19.1)
Requirement already satisfied: six in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from patsy>=0.4.1->category_encoders) (1.11.0)
Requirement already satisfied: python-dateutil>=2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pandas>=0.20.1->category_encoders) (2.7.3)
Requirement already satisfied: pytz>=2011k in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pandas>=0.20.1->category_encoders) (2018.4)
Installing collected packages: category-encoders
Successfully installed category-encoders-1.3.0
You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [209]:
import category_encoders as ce

In [225]:
features.isna().sum()

Headquarters Location       0
Categories                  0
Number of Founders          0
Number of Funding Rounds    0
Number of Articles          0
Number of Employees         0
dtype: int64

In [219]:
features['Number of Founders'] = features['Number of Founders'].replace(np.nan, 1)

In [221]:
features['Number of Funding Rounds'] = features['Number of Funding Rounds'].replace(np.nan, 0)

In [223]:
features['Number of Articles'] = features['Number of Articles'].replace(np.nan, 0)

In [224]:
features['Number of Employees'] = features['Number of Employees'].replace(np.nan, 0)

In [264]:
final_df2 = features.copy()

In [265]:
final_df2['Label'] = labels

In [266]:
final_df2

,Headquarters Location,Categories,Number of Founders,Number of Funding Rounds,Number of Articles,Number of Employees,Label
0,"Beijing, Beijing, China",Mobile,10.0,7.0,13913.0,2500.0,0.0
1,Other,Other,3.0,11.0,59256.0,2500.0,1.0
2,Other,Other,3.0,1.0,23574.0,75.0,1.0
3,"New York, New York, United States",Other,2.0,3.0,430.0,0.0,1.0
4,"Singapore, Central Region, Singapore",Retail,1.0,2.0,3544.0,2500.0,0.0
5,"Berlin, Berlin, Germany",Other,3.0,5.0,2854.0,375.0,1.0
6,Other,Mobile,1.0,3.0,26519.0,10000.0,1.0
7,"Los Angeles, California, United States",Travel,3.0,5.0,627.0,175.0,1.0
8,"New York, New York, United States",Video,2.0,7.0,8606.0,750.0,0.0
9,Other,Other,1.0,9.0,4566.0,2500.0,0.0
10,Other,Other,3.0,4.0,480276.0,10000.0,1.0
11,Other,Software,2.0,3.0,19775.0,7500.0,1.0
12,Other,Other,1.0,6.0,1076.0,2500.0,0.0
14,"Cambridge, Massachusetts, United States",Marketing,4.0,6.0,1595.0,2500.0,1.0
15,Other,Other,1.0,2.0,739.0,10000.0,1.0
16,"San Francisco, California, United States",Other,2.0,3.0,1206.0,175.0,1.0
17,Other,Other,2.0,3.0,2365.0,10000.0,0.0
18,Other,Video,1.0,3.0,6300.0,375.0,0.0
19,"San Francisco, California, United States",Other,3.0,4.0,8023.0,375.0,1.0
20,"New York, New York, United States",Other,3.0,6.0,1042.0,750.0,1.0
21,Other,Other,4.0,9.0,3393.0,375.0,1.0
22,Other,Other,1.0,1.0,1234.0,10000.0,1.0
23,Other,Other,2.0,6.0,2275.0,10000.0,1.0
24,"Bangalore, Karnataka, India",Software,7.0,1.0,6410.0,10000.0,1.0
25,Other,Other,2.0,10.0,805.0,2500.0,0.0
...,...,...,...,...,...,...,...
100775,Other,Other,1.0,1.0,0.0,0.0,0.0
100791,"New York, New York, United States",Other,1.0,1.0,0.0,75.0,0.0
100803,Other,Other,1.0,1.0,0.0,0.0,0.0
100806,Other,Other,1.0,1.0,0.0,0.0,1.0
100815,"San Jose, California, United States",Other,2.0,3.0,0.0,0.0,1.0
100818,Other,Other,1.0,1.0,0.0,0.0,0.0
100819,Other,Financial Services,1.0,2.0,0.0,0.0,0.0
100820,"Mountain View, California, United States",Fashion,2.0,1.0,0.0,0.0,0.0
100827,Other,Other,1.0,1.0,0.0,0.0,0.0
100829,"London, England, United Kingdom",Other,1.0,1.0,0.0,0.0,0.0
100830,Other,Other,1.0,1.0,0.0,0.0,0.0
100832,Other,Other,1.0,1.0,0.0,0.0,0.0
100837,Other,Other,2.0,1.0,0.0,0.0,0.0
100843,Other,Other,1.0,1.0,0.0,0.0,1.0
100845,"San Francisco, California, United States",Other,2.0,1.0,0.0,0.0,1.0
100850,Other,Other,1.0,1.0,0.0,75.0,1.0
100854,Other,Retail,2.0,1.0,0.0,0.0,0.0
100856,Other,Other,3.0,1.0,0.0,0.0,0.0
100863,Other,Other,3.0,1.0,0.0,75.0,0.0
100868,Other,Other,1.0,4.0,0.0,375.0,1.0
100874,Other,Other,1.0,1.0,0.0,0.0,0.0
100875,"San Francisco, California, United States",Apps,1.0,2.0,0.0,0.0,1.0
100887,Other,Manufacturing,1.0,1.0,0.0,375.0,1.0
100900,Other,Software,1.0,1.0,0.0,0.0,1.0
100905,Other,Other,1.0,1.0,0.0,0.0,1.0

In [272]:
final_df2.pivot_table(index='Headquarters Location', values='Label')

                                                    Label
Headquarters Location
Atlanta, Georgia, United States                  0.367580
Austin, Texas, United States                     0.429119
Bangalore, Karnataka, India                      0.353933
Beijing, Beijing, China                          0.597983
Berlin, Berlin, Germany                          0.413290
Boston, Massachusetts, United States             0.512354
Cambridge, Massachusetts, United States          0.552158
Chicago, Illinois, United States                 0.402837
Dublin, Dublin, Ireland                          0.246377
London, England, United Kingdom                  0.235532
Los Angeles, California, United States           0.321978
Mountain View, California, United States         0.521395
Mumbai, Maharashtra, India                       0.363071
New York, New York, United States                0.392291
Other                                            0.326064
Palo Alto, California, United States             0.435583
Paris, Ile-de-France, France                     0.371605
San Francisco, California, United States         0.413008
San Jose, California, United States              0.545106
Seattle, Washington, United States               0.445893
Singapore, Central Region, Singapore             0.304878
Stockholm, Stockholms Lan, Sweden                0.511509
Sunnyvale, California, United States             0.575621
Tel Aviv, Tel Aviv, Israel                       0.364286
Tokyo, Tokyo, Japan                              0.555866
Toronto, Ontario, Canada                         0.334390
Vancouver, British Columbia, Canada              0.318059
Washington, District of Columbia, United States  0.313953

In [242]:
features.columns

Index(['Headquarters Location', 'Categories',
       'Number of Founders',
       'Number of Funding Rounds',
       'Number of Articles',
       'Number of Employees'],
      dtype='object')

In [226]:
X_train = features
y_train = labels

In [227]:
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train)

In [228]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((52581, 6), (17527, 6), (52581,), (17527,))

In [229]:
pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True),
    StandardScaler(),
    RandomForestClassifier())

In [259]:
pipeline.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('onehotencoder', OneHotEncoder(cols=['Headquarters Location', 'Categories'],
       drop_invariant=False, handle_unknown='impute', impute_missing=True,
       return_df=True, use_cat_names=True, verbose=0)), ('standardscaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('rand...n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False))])

In [231]:
y_pred = pipeline.predict(X_test)

In [254]:
list(X_test.loc[1])

['Other', 'Other', 3.0, 11.0, 59256.0, 2500.0]

In [232]:
accuracy_score(y_test, y_pred)

0.8007074798881725

In [234]:
model = pipeline

In [233]:
import pickle

In [237]:
with open ('pickle_model', 'wb') as f:
    pickle.dump(model, f)

In [240]:
with open('pickle_model', 'rb') as f:
    mp = pickle.load(f)

In [241]:
dir(mp)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_cache',
 '_abc_negative_cache',
 '_abc_negative_cache_version',
 '_abc_registry',
 '_estimator_type',
 '_final_estimator',
 '_fit',
 '_get_param_names',
 '_get_params',
 '_inverse_transform',
 '_pairwise',
 '_replace_estimator',
 '_set_params',
 '_transform',
 '_validate_names',
 '_validate_steps',
 'classes_',
 'decision_function',
 'fit',
 'fit_predict',
 'fit_transform',
 'get_params',
 'inverse_transform',
 'memory',
 'named_steps',
 'predict',
 'predict_log_proba',
 'predict_proba',
 'score',
 'set_params',
 'steps',
 'transform']

In [243]:
features.dtypes

Headquarters Location        object
Categories                   object
Number of Founders          float64
Number of Funding Rounds    float64
Number of Articles          float64
Number of Employees         float64
dtype: object